USE [HospitalManagementSystem]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 5.07.2026 03:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementID] [int] IDENTITY(1,1) NOT NULL,
	[Announcement] [varchar](200) NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[AnnouncementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5.07.2026 03:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentDate] [varchar](10) NOT NULL,
	[AppointmentTime] [varchar](5) NOT NULL,
	[AppointmentDepartment] [varchar](30) NOT NULL,
	[AppointmentDoctor] [varchar](20) NOT NULL,
	[AppointmentStatus] [bit] NULL,
	[PatientNational] [char](11) NULL,
	[PatientComplaint] [varchar](200) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 5.07.2026 03:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](60) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 5.07.2026 03:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [varchar](20) NOT NULL,
	[DoctorSurname] [varchar](20) NOT NULL,
	[DoctorDepartment] [varchar](60) NOT NULL,
	[DoctorNational] [char](11) NOT NULL,
	[DoctorPassword] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5.07.2026 03:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [varchar](20) NOT NULL,
	[PatientSurname] [varchar](20) NOT NULL,
	[PatientNational] [char](11) NOT NULL,
	[PatientPhoneNumber] [varchar](15) NOT NULL,
	[PatientPassword] [varchar](8) NOT NULL,
	[PatientGender] [varchar](10) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secretaries]    Script Date: 5.07.2026 03:04:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secretaries](
	[SecretaryID] [int] IDENTITY(1,1) NOT NULL,
	[SecretaryFullName] [varchar](30) NOT NULL,
	[SecretaryNational] [char](11) NOT NULL,
	[SecretaryPassword] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Secretaries] PRIMARY KEY CLUSTERED 
(
	[SecretaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([AnnouncementID], [Announcement]) VALUES (1, N'There is a meeting for the Physical Therapy Department doctors at 2:30 PM.')
INSERT [dbo].[Announcements] ([AnnouncementID], [Announcement]) VALUES (2, N'The meeting for the Physical Therapy doctors is at 11:30 a.m.')
INSERT [dbo].[Announcements] ([AnnouncementID], [Announcement]) VALUES (3, N'The meeting for the Dietitians is at 1:30 p.m.')
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [AppointmentDate], [AppointmentTime], [AppointmentDepartment], [AppointmentDoctor], [AppointmentStatus], [PatientNational], [PatientComplaint]) VALUES (3, N'01.07.2026', N'15:45', N'Internal Medicine', N'Mehmet Yücedağ', 0, NULL, NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [AppointmentDate], [AppointmentTime], [AppointmentDepartment], [AppointmentDoctor], [AppointmentStatus], [PatientNational], [PatientComplaint]) VALUES (4, N'02.07.2026', N'12:35', N'Ear,Nose and Throat(ENT)', N'Damla Yıldız', 0, NULL, NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [AppointmentDate], [AppointmentTime], [AppointmentDepartment], [AppointmentDoctor], [AppointmentStatus], [PatientNational], [PatientComplaint]) VALUES (5, N'06.08.2026', N'19:00', N'Internal Medicine', N'Hakan Aydın', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Internal Medicine')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (2, N'Ophthalmology')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (3, N'Ear,Nose and Throat(ENT)')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [DoctorSurname], [DoctorDepartment], [DoctorNational], [DoctorPassword]) VALUES (2, N'Akın', N'Yıldız', N'Ophthalmology', N'66688856321', N'63566')
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [DoctorSurname], [DoctorDepartment], [DoctorNational], [DoctorPassword]) VALUES (3, N'Tuna', N'Konak', N'Ophthalmology', N'43575634257', N'322543')
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [DoctorSurname], [DoctorDepartment], [DoctorNational], [DoctorPassword]) VALUES (4, N'Damla', N'Yıldız', N'Ear,Nose and Throat(ENT)', N'85937281565', N'67891')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [PatientName], [PatientSurname], [PatientNational], [PatientPhoneNumber], [PatientPassword], [PatientGender]) VALUES (2, N'Deniz', N'Aslan', N'34573485374', N'(535) 396-8693', N'healt92', N'Female')
INSERT [dbo].[Patients] ([PatientID], [PatientName], [PatientSurname], [PatientNational], [PatientPhoneNumber], [PatientPassword], [PatientGender]) VALUES (4, N'Yiğit', N'Balcı', N'96748697698', N'(504) 395-3496', N'84723', N'Male')
INSERT [dbo].[Patients] ([PatientID], [PatientName], [PatientSurname], [PatientNational], [PatientPhoneNumber], [PatientPassword], [PatientGender]) VALUES (5, N'Yıldız', N'Uyar', N'95834208459', N'5058942385394', N'4352', N'Female')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Secretaries] ON 

INSERT [dbo].[Secretaries] ([SecretaryID], [SecretaryFullName], [SecretaryNational], [SecretaryPassword]) VALUES (2, N'Emel Göktürk', N'84492059382', N'8888')
INSERT [dbo].[Secretaries] ([SecretaryID], [SecretaryFullName], [SecretaryNational], [SecretaryPassword]) VALUES (3, N'Ali Güneş', N'75838602817', N'1234')
INSERT [dbo].[Secretaries] ([SecretaryID], [SecretaryFullName], [SecretaryNational], [SecretaryPassword]) VALUES (4, N'Hakan Fazıl', N'96847447891', N'85329')
SET IDENTITY_INSERT [dbo].[Secretaries] OFF
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF_Appointments_AppointmentStatus]  DEFAULT ((0)) FOR [AppointmentStatus]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Doctors]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Doctors1] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Doctors1]
GO
